html,body{
	width:100%;
	height:100%;
	background:#fff;
	margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
#sampleGrid {
    width:400px;
    height: 300px;
}
.cellCol{
    border: 1px solid transparent;
    float:left;
    height:100px;
    width:100px;
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}
.container {
    display: inline-block;
    position: relative;
    width: 1024px;
}
.leftContainer{
 width:50%;
 float:left;
}
.rightContainer {
 width:50%;
 float:right;
}
p {
    font-size: 12px;
    color:#000000;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    width:300px;
}
.cellCol1{
    background-color: #6F98A8 ;
}
.cellCol2{
    background-color: #2B8EAD ;
}
.cellCol3{
    background-color: #333333 ;
}
.cellCol4{
    background-color: #2B8EAD ;
}
.cellCol5{
    background-color: #000000 ;
}
.cellCol6{
    background-color: #BFBFBF ;
}
.cellCol7{
    background-color: #BFBFBF ;
}
.cellCol8{
    background-color: #6F98A8 ;
}
.cellCol9{
    background-color: #000000 ;
}
.cellColundefined{
    display: none;
}
.actionBtn{
    width: 150px;
    background-color: #72C3DC;
    color: #FFFFFF;
    font-size: 12px;
    display: block;
    border: none;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-box-shadow:0px 5px 0px #2B8EAD;
    -moz-box-shadow:0px 5px 0px #2B8EAD;
    box-shadow:0px 5px 0px #2B8EAD;
    cursor: pointer;
}
.actionTab{
    float:left;
}
@media only screen and (max-width: 600px) {
    .container{
        width:100%;
    }
    #sampleGrid{
        width:600px;
        height:auto;
    }
    .cellCol{
        float:left;
        height:100px;
        width:100%;
        color: #000000;
        text-align: center;
        font-size: 50px;
        background-color:#e9e3e3;
    }
    .cellCol1{
        border-left: 10px solid #6F98A8;
    }
    .cellCol2{
        border-left: 10px solid #2B8EAD;
    }
    .cellCol3{
        border-left: 10px solid #333333;
    }
    .cellCol4{
        border-left: 10px solid #2B8EAD;
    }
    .cellCol5{
        border-left: 10px solid #000000;
    }
    .cellCol6{
        border-left: 10px solid #BFBFBF;
    }
    .cellCol7{
        border-left: 10px solid #BFBFBF;
    }
    .cellCol8{
        border-left: 10px solid #6F98A8;
    }
    .cellCol9{
        border-left: 10px solid #000000;
    }
    .leftContainer, .rightContainer {
        width: 100%;
        float: none;
    }
    .leftContainer {
        margin-top: 80px;
    }
    .rightContainer {
        position: absolute;
        top:0;
        left:100px;
    }
    .actionBtn{
        width:80px;
        display: inline-block;
    }
}